<html>
	<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor='#fff'>
		<style>
			body { font: normal 12px/1.5em "Helvetica Neue", Helvetica, "Lucida Grande", "Helvetica Neue", Arial, sans-serif; }
		</style>
		<table width="95%" cellpadding="10" cellspacing="0" bgcolor='#ebebeb' style="margin: 10px auto;">
			<tr bgcolor='#232C30' style="border:1px solid #232C30; border-bottom:none;">
				<td colspan="2">
					<h1 style="font-size:120%;margin-bottom:0;">
						<a href="<%= WH_CONFIG['host'] %>" style="text-decoration:none;color:#fff;">Warehouse</a>
					</h1>
				</td>
			</tr>
			<tr>
				<td style="border-left: 1px solid #ccc; border-right: 1px solid #ccc;">
					<p>A request to reset your password has been made. If you did not make this request, simply ignore this email. If you did make this request just click the link below:</p>

					<a href="<%= @reset_url %>"><%= @reset_url %></a>

					<p>If the above URL does not work try copying and pasting it into your browser. If you continue to have problem please feel free to contact us.</p>
				</td>
			</tr>
			<tr>
				<td style="border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; text-align: center;">
					<small>sent by warehouse at <%= Time.now %>
				</td>
			</tr>
		</table>
	</body>
</html>