<!-- <h1>Browser#index</h1> -->
<!-- <p>Find me in app/views/browser/index.html.erb</p>
<%#= params[:repo] %> -->
<!-- <%#= link_to repo_path(:repo => current_repository) %>
<h1><%#= current_repository.name %></h1> -->
<!-- <p>commit: <%#= @node.latest_revision.id %> | message: <%#= @node.latest_revision.message %></p> -->
<%#= render :partial => 'shared/browser' %>