div.highlight code { color: #d0d0d0 }
div.highlight .hll { background-color: #404040 }
div.highlight .c { color: #999999; font-style: italic } /* Comment */
div.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
div.highlight .g { color: #d0d0d0 } /* Generic */
div.highlight .k { color: #6ab825; font-weight: bold } /* Keyword */
div.highlight .l { color: #d0d0d0 } /* Literal */
div.highlight .n { color: #d0d0d0 } /* Name */
div.highlight .o { color: #d0d0d0 } /* Operator */
div.highlight .x { color: #d0d0d0 } /* Other */
div.highlight .p { color: #d0d0d0 } /* Punctuation */
div.highlight .cm { color: #999999; font-style: italic } /* Comment.Multiline */
div.highlight .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
div.highlight .c1 { color: #999999; font-style: italic } /* Comment.Single */
div.highlight .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
div.highlight .gd { color: #d22323 } /* Generic.Deleted */
div.highlight .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
div.highlight .gr { color: #d22323 } /* Generic.Error */
div.highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
div.highlight .gi { color: #589819 } /* Generic.Inserted */
div.highlight .go { color: #cccccc } /* Generic.Output */
div.highlight .gp { color: #aaaaaa } /* Generic.Prompt */
div.highlight .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
div.highlight .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
div.highlight .gt { color: #d22323 } /* Generic.Traceback */
div.highlight .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
div.highlight .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
div.highlight .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
div.highlight .kp { color: #6ab825 } /* Keyword.Pseudo */
div.highlight .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
div.highlight .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
div.highlight .ld { color: #d0d0d0 } /* Literal.Date */
div.highlight .m { color: #3677a9 } /* Literal.Number */
div.highlight .s { color: #ed9d13 } /* Literal.String */
div.highlight .na { color: #bbbbbb } /* Name.Attribute */
div.highlight .nb { color: #24909d } /* Name.Builtin */
div.highlight .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
div.highlight .no { color: #40ffff } /* Name.Constant */
div.highlight .nd { color: #ffa500 } /* Name.Decorator */
div.highlight .ni { color: #d0d0d0 } /* Name.Entity */
div.highlight .ne { color: #bbbbbb } /* Name.Exception */
div.highlight .nf { color: #447fcf } /* Name.Function */
div.highlight .nl { color: #d0d0d0 } /* Name.Label */
div.highlight .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
div.highlight .nx { color: #d0d0d0 } /* Name.Other */
div.highlight .py { color: #d0d0d0 } /* Name.Property */
div.highlight .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
div.highlight .nv { color: #40ffff } /* Name.Variable */
div.highlight .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
div.highlight .w { color: #666666 } /* Text.Whitespace */
div.highlight .mf { color: #3677a9 } /* Literal.Number.Float */
div.highlight .mh { color: #3677a9 } /* Literal.Number.Hex */
div.highlight .mi { color: #3677a9 } /* Literal.Number.Integer */
div.highlight .mo { color: #3677a9 } /* Literal.Number.Oct */
div.highlight .sb { color: #ed9d13 } /* Literal.String.Backtick */
div.highlight .sc { color: #ed9d13 } /* Literal.String.Char */
div.highlight .sd { color: #ed9d13 } /* Literal.String.Doc */
div.highlight .s2 { color: #ed9d13 } /* Literal.String.Double */
div.highlight .se { color: #ed9d13 } /* Literal.String.Escape */
div.highlight .sh { color: #ed9d13 } /* Literal.String.Heredoc */
div.highlight .si { color: #ed9d13 } /* Literal.String.Interpol */
div.highlight .sx { color: #ffa500 } /* Literal.String.Other */
div.highlight .sr { color: #ed9d13 } /* Literal.String.Regex */
div.highlight .s1 { color: #ed9d13 } /* Literal.String.Single */
div.highlight .ss { color: #ed9d13 } /* Literal.String.Symbol */
div.highlight .bp { color: #24909d } /* Name.Builtin.Pseudo */
div.highlight .vc { color: #40ffff } /* Name.Variable.Class */
div.highlight .vg { color: #40ffff } /* Name.Variable.Global */
div.highlight .vi { color: #40ffff } /* Name.Variable.Instance */
div.highlight .il { color: #3677a9 } /* Literal.Number.Integer.Long */
