/* RESET ISH */
/* line 2, ../../app/stylesheets/warehouse.sass */
html {
  margin: 0 0 1px 0;
  padding: 0;
  overflow: auto; }

/* line 8, ../../app/stylesheets/warehouse.sass */
body {
  margin: 0;
  text-align: center;
  padding: 0;
  font: normal 12px/1.5em "Helvetica Neue", Helvetica, "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
  background: #ebebeb;
  color: #333;
  min-width: 900px; }

/* line 17, ../../app/stylesheets/warehouse.sass */
* {
  outline: none; }

/* line 19, ../../app/stylesheets/warehouse.sass */
.clearfix {
  display: inline-block;
  display: block; }
  /* line 23, ../../app/stylesheets/warehouse.sass */
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* line 29, ../../app/stylesheets/warehouse.sass */
.clear {
  clear: both; }

/* line 32, ../../app/stylesheets/warehouse.sass */
form, input, dt, dl, dd, ol, div, p, blockquote, h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  padding: 0; }

/* line 37, ../../app/stylesheets/warehouse.sass */
a {
  outline: none; }
  /* line 40, ../../app/stylesheets/warehouse.sass */
  a:link, a:visited {
    color: #07b;
    text-decoration: none; }
  /* line 44, ../../app/stylesheets/warehouse.sass */
  a:hover {
    color: #d30; }

/* line 48, ../../app/stylesheets/warehouse.sass */
form, input, dt, dl, dd, ol, div, p, blockquote, h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  padding: 0; }

/* HEADERS */
/* line 53, ../../app/stylesheets/warehouse.sass */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

/* line 55, ../../app/stylesheets/warehouse.sass */
h1.header {
  font-size: 120%;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc; }
  /* line 60, ../../app/stylesheets/warehouse.sass */
  h1.header img {
    margin-bottom: 5px; }

/* line 62, ../../app/stylesheets/warehouse.sass */
h2 {
  position: relative;
  padding: 5px;
  font-size: 110%;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc; }

/* line 68, ../../app/stylesheets/warehouse.sass */
div.repo h2 {
  border-bottom: none;
  display: inline; }

/* ERRORS */
/* line 73, ../../app/stylesheets/warehouse.sass */
div.errorExplanation, div#error {
  padding: 10px 10px 10px 50px;
  margin: 20px 0;
  background: #fee url(../images/app/icons/no.png) 5px 5px no-repeat;
  border: 1px solid #faa;
  color: #333; }
/* line 81, ../../app/stylesheets/warehouse.sass */
div.errorExplanation ul {
  list-style: none;
  margin: 5px 0; }
/* line 85, ../../app/stylesheets/warehouse.sass */
div.errorExplanation h2 {
  background: transparent;
  border: 0;
  padding: 0; }
/* line 90, ../../app/stylesheets/warehouse.sass */
div#error h2 {
  background: transparent;
  border: 0;
  padding: 0; }

/* INFORMATION */
/* line 95, ../../app/stylesheets/warehouse.sass */
.info {
  background: #E3F1FF url(../images/icons/info.png) 5px 50% no-repeat;
  padding: 20px 10px 20px 60px;
  border: 1px solid #5D94CB;
  font-weight: bold;
  color: #346;
  margin: 10px 0; }

/* line 104, ../../app/stylesheets/warehouse.sass */
.notice, .flash-notice {
  padding: 20px 10px 20px 60px;
  border: 1px solid #5D94CB;
  font-weight: bold;
  color: #346;
  margin: 10px 0;
  background: #DCF0C9 url(../images/icons/check.png) 5px 50% no-repeat;
  border: 1px solid #6A3;
  color: #460; }

/* line 113, ../../app/stylesheets/warehouse.sass */
.flash-error {
  padding: 15px 10px 15px 60px;
  margin: 20px 0;
  background: #fee url(../images/icons/no.png) 5px 5px no-repeat;
  border: 1px solid #faa;
  color: #F00;
  font-weight: bold;
  margin: 10 0; }

/* MAJOR */
/* line 122, ../../app/stylesheets/warehouse.sass */
#header {
  background: #232C30;
  margin: 0;
  text-align: left;
  padding: 18px;
  position: relative; }
  /* line 128, ../../app/stylesheets/warehouse.sass */
  #header h1 a {
    color: #fff;
    text-decoration: none;
    font-size: 120%; }

/* line 133, ../../app/stylesheets/warehouse.sass */
#content {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 40px; }
  /* line 138, ../../app/stylesheets/warehouse.sass */
  #content #main {
    padding: 20px; }
  /* line 140, ../../app/stylesheets/warehouse.sass */
  #content #sbar {
    width: 220px;
    padding: 20px;
    display: table-cell; }

/* HEADERS */
/* line 146, ../../app/stylesheets/warehouse.sass */
#hdr-cnt {
  position: relative;
  width: 85%;
  margin: 0 auto;
  padding: 0 20px; }
  /* line 151, ../../app/stylesheets/warehouse.sass */
  #hdr-cnt #nav {
    position: absolute;
    top: 11px;
    left: 162px;
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 159, ../../app/stylesheets/warehouse.sass */
    #hdr-cnt #nav li {
      display: inline;
      margin: 0;
      padding: 0; }
      /* line 164, ../../app/stylesheets/warehouse.sass */
      #hdr-cnt #nav li a {
        border-top: 1px solid #5C738A;
        background-color: #456 !important;
        color: #DEE9EE;
        font-size: 92%;
        font-weight: bold;
        margin-right: 5px;
        padding: 3px 20px;
        padding-left: 25px;
        display: block;
        float: left; }
        /* line 176, ../../app/stylesheets/warehouse.sass */
        #hdr-cnt #nav li a:hover {
          border-top-color: #7593B0;
          background-color: #576C82 !important;
          color: #fff; }
      /* line 181, ../../app/stylesheets/warehouse.sass */
      #hdr-cnt #nav li.selected a {
        border-top: 1px solid #fff;
        background-color: #eee !important;
        color: #333; }
  /* line 188, ../../app/stylesheets/warehouse.sass */
  #hdr-cnt li#code a {
    background: url(../images/icons/code.png) 5px 50% no-repeat; }
  /* line 191, ../../app/stylesheets/warehouse.sass */
  #hdr-cnt li#activity a {
    background: url(../images/icons/activity.png) 5px 50% no-repeat; }
  /* line 194, ../../app/stylesheets/warehouse.sass */
  #hdr-cnt li#all-history {
    border: none !important;
    font-weight: bold; }
    /* line 198, ../../app/stylesheets/warehouse.sass */
    #hdr-cnt li#all-history a {
      padding-left: 20px;
      background: url(../images/icons/clock.png) 0 50% no-repeat !important;
      display: block;
      color: #555; }
  /* line 204, ../../app/stylesheets/warehouse.sass */
  #hdr-cnt li#admin a {
    background: url(../images/icons/admin.png) 5px 50% no-repeat; }
  /* line 206, ../../app/stylesheets/warehouse.sass */
  #hdr-cnt li#repos a {
    background: url(../images/icons/box-small.png) 5px 50% no-repeat; }
  /* line 209, ../../app/stylesheets/warehouse.sass */
  #hdr-cnt #utils {
    position: absolute;
    right: 20px;
    top: 0;
    list-style: none; }
    /* line 215, ../../app/stylesheets/warehouse.sass */
    #hdr-cnt #utils li {
      display: inline;
      margin-right: 5px;
      font-size: 92%; }
      /* line 220, ../../app/stylesheets/warehouse.sass */
      #hdr-cnt #utils li a {
        color: #cde;
        border-bottom: 1px dotted #345; }
        /* line 224, ../../app/stylesheets/warehouse.sass */
        #hdr-cnt #utils li a:hover {
          color: #fff; }

/* MULTI */
/* line 227, ../../app/stylesheets/warehouse.sass */
div.sourcecode {
  width: 100%;
  border: 1px solid #ccc;
  border-top: none; }
  /* line 231, ../../app/stylesheets/warehouse.sass */
  div.sourcecode div.controls {
    padding: 5px;
    border-top: 1px solid #f7f7f7;
    background: #eee url(../images/app/controls-bg.png) bottom left repeat-x;
    vertical-align: middle; }
  /* line 236, ../../app/stylesheets/warehouse.sass */
  div.sourcecode div.sub-controls {
    color: #333;
    font-family: Courier, Monaco, monospace !important;
    text-align: left;
    background: #f7f7f7;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc; }
  /* line 243, ../../app/stylesheets/warehouse.sass */
  div.sourcecode div.browse {
    display: table; }
    /* line 245, ../../app/stylesheets/warehouse.sass */
    div.sourcecode div.browse div#tree {
      background: #f1f1f1;
      width: 200px;
      display: table-cell;
      overflow: auto; }
    /* line 250, ../../app/stylesheets/warehouse.sass */
    div.sourcecode div.browse div#source {
      display: table-cell; }
      /* line 252, ../../app/stylesheets/warehouse.sass */
      div.sourcecode div.browse div#source pre.viewsource {
        overflow: auto;
        margin-bottom: 0;
        word-wrap: normal;
        color: #d0d0d0; }

/* SOURCE */
/* line 258, ../../app/stylesheets/warehouse.sass */
pre.viewsource {
  margin-top: 0 !important;
  width: 100%;
  background-color: #111;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  color: #d0d0d0; }
  /* line 268, ../../app/stylesheets/warehouse.sass */
  pre.viewsource code {
    padding: 20px;
    display: block; }

/* CRUMBS */
/* line 272, ../../app/stylesheets/warehouse.sass */
div#crumbs {
  margin-bottom: 10px;
  height: 20px; }
  /* line 275, ../../app/stylesheets/warehouse.sass */
  div#crumbs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 100%;
    background: url(../images/app/crumbs-start.gif) no-repeat;
    padding-left: 13px; }
    /* line 282, ../../app/stylesheets/warehouse.sass */
    div#crumbs ul li {
      display: block;
      margin: 0;
      padding: 0;
      background: url(../images/app/crumb-bg.png) repeat-x;
      float: left; }
      /* line 289, ../../app/stylesheets/warehouse.sass */
      div#crumbs ul li a {
        text-shadow: 1px 1px #fff;
        background: url(../images/app/crumb-divide.gif) top right no-repeat;
        display: block;
        color: #555;
        font-size: 92%;
        padding: 4px 15px 7px 5px;
        font-weight: bold; }
        /* line 298, ../../app/stylesheets/warehouse.sass */
        div#crumbs ul li a:hover {
          color: #000; }
      /* line 300, ../../app/stylesheets/warehouse.sass */
      div#crumbs ul li.crumb-divide-last a {
        background: url(../images/app/crumb-divide-last.gif) top right no-repeat !important; }
      /* line 302, ../../app/stylesheets/warehouse.sass */
      div#crumbs ul li#current {
        color: #fff;
        font-size: 92%;
        float: left;
        text-shadow: 1px 1px #777;
        background: url(../images/app/crumb-current.gif) repeat-x;
        padding: 4px 10px 7px 10px;
        border-right: 1px solid #999;
        font-weight: bold; }

/* BROWSER */
/* line 312, ../../app/stylesheets/warehouse.sass */
#browser, .diff {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-top: none; }
  /* line 317, ../../app/stylesheets/warehouse.sass */
  #browser th, .diff th {
    border-left: 1px solid #ddd;
    text-align: left;
    background: #f7f7f7;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc; }

/* line 324, ../../app/stylesheets/warehouse.sass */
#browser td, #browser th {
  padding: 5px 10px; }
/* line 326, ../../app/stylesheets/warehouse.sass */
#browser td {
  background: #eee;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ddd; }
  /* line 330, ../../app/stylesheets/warehouse.sass */
  #browser td a {
    font-weight: bold; }

/* line 333, ../../app/stylesheets/warehouse.sass */
a.folder {
  background: url(../images/app/icons/folder-small.png) 0 50% no-repeat; }
/* line 336, ../../app/stylesheets/warehouse.sass */
a.image {
  background: url(../images/app/icons/image.png) 0 50% no-repeat; }
/* line 339, ../../app/stylesheets/warehouse.sass */
a.script {
  background: url(../images/app/icons/script-small.png) 0 50% no-repeat; }
/* line 342, ../../app/stylesheets/warehouse.sass */
a.txt, a.file {
  background: url(../images/app/icons/text-small.png) 0 50% no-repeat; }

/* line 344, ../../app/stylesheets/warehouse.sass */
td.item a {
  display: block;
  padding: 8px 5px 8px 25px; }

/* line 347, ../../app/stylesheets/warehouse.sass */
tr#controls td, tr.controls td {
  padding: 0;
  height: 20px;
  border-top: 1px solid #f7f7f7;
  background: #eee url(../images/app/controls-bg.png) bottom left repeat-x; }

/* line 352, ../../app/stylesheets/warehouse.sass */
div.control-head {
  margin: 0;
  padding: 0 0 0 40px;
  position: relative;
  min-height: 25px; }
  /* line 357, ../../app/stylesheets/warehouse.sass */
  div.control-head p.controlblock {
    position: absolute;
    top: 0;
    left: 5px;
    height: 16px;
    width: 50px; }
  /* line 363, ../../app/stylesheets/warehouse.sass */
  div.control-head ul.formats {
    float: right;
    margin: 2px 0 0 0;
    padding: 0;
    line-height: 100%;
    list-style: none;
    font-size: 82%;
    background: #eee url(../images/app/cap-left.png) no-repeat; }
    /* line 372, ../../app/stylesheets/warehouse.sass */
    div.control-head ul.formats li {
      display: block;
      margin-right: 5px;
      float: left; }
      /* line 377, ../../app/stylesheets/warehouse.sass */
      div.control-head ul.formats li a {
        display: block;
        padding: 3px 5px 4px 5px;
        color: #777;
        text-shadow: 1px 1px #fff;
        font-weight: bold; }
        /* line 383, ../../app/stylesheets/warehouse.sass */
        div.control-head ul.formats li a:hover, div.control-head ul.formats li a.sel {
          color: #333; }
        /* line 385, ../../app/stylesheets/warehouse.sass */
        div.control-head ul.formats li a.sel {
          text-decoration: underline; }
      /* line 387, ../../app/stylesheets/warehouse.sass */
      div.control-head ul.formats li.end {
        margin-right: 0; }
        /* line 390, ../../app/stylesheets/warehouse.sass */
        div.control-head ul.formats li.end a {
          background: url(../images/app/cap-right.png) top right no-repeat; }

/* line 392, ../../app/stylesheets/warehouse.sass */
#control-center {
  margin-bottom: 20px;
  position: relative;
  padding: 10px;
  background: #fff;
  font-weight: bold; }

/* line 398, ../../app/stylesheets/warehouse.sass */
.rev {
  line-height: 100%;
  float: right;
  background: #f7f7f7;
  padding: 3px;
  border: 1px solid #fff;
  color: #666;
  font-size: 92%;
  -moz-border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold; }

/* line 409, ../../app/stylesheets/warehouse.sass */
td span.log, #repos span.log, #permissions span.log, .listbox span.log, p.desc {
  font-size: 92%;
  display: block;
  color: #888; }

/* CHANGESETS */
/* line 415, ../../app/stylesheets/warehouse.sass */
.cs-meta {
  float: left;
  width: 60px;
  padding: 5px;
  text-align: center;
  background-color: #e2e2e2;
  border-right: 1px solid #ddd;
  line-height: 100%; }

/* line 423, ../../app/stylesheets/warehouse.sass */
.cs-log {
  padding: 5px;
  padding-right: 50px;
  margin-left: 71px;
  font-size: 92% !important;
  background-color: #f7f7f7; }

/* line 429, ../../app/stylesheets/warehouse.sass */
.change-number a {
  font-size: 120%;
  font-weight: bold;
  color: green;
  display: block;
  float: left;
  padding-right: 10px;
  margin-bottom: 5px; }

/* line 437, ../../app/stylesheets/warehouse.sass */
#changesets {
  list-style: none;
  -webkit-padding-start: 0; }
  /* line 440, ../../app/stylesheets/warehouse.sass */
  #changesets li.changeset {
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0; }
    /* line 445, ../../app/stylesheets/warehouse.sass */
    #changesets li.changeset .cs-log {
      background: none; }
    /* line 447, ../../app/stylesheets/warehouse.sass */
    #changesets li.changeset .cs-meta {
      background: none;
      border-right: none; }
      /* line 450, ../../app/stylesheets/warehouse.sass */
      #changesets li.changeset .cs-meta .change-number {
        font-size: 100%;
        display: block;
        text-align: center; }
        /* line 454, ../../app/stylesheets/warehouse.sass */
        #changesets li.changeset .cs-meta .change-number a {
          color: #481;
          text-shadow: 1px 1px #f7f7f7;
          float: none;
          padding-right: 0;
          margin-top: 3px; }
  /* line 460, ../../app/stylesheets/warehouse.sass */
  #changesets .timenauthor {
    color: #888;
    font-weight: normal;
    display: block; }

/* line 464, ../../app/stylesheets/warehouse.sass */
div.changeset {
  padding: 0;
  background-image: none;
  border: none;
  border-bottom: 1px solid #ccc; }
  /* line 469, ../../app/stylesheets/warehouse.sass */
  div.changeset .cs-meta {
    background: none;
    border-right: none; }
    /* line 472, ../../app/stylesheets/warehouse.sass */
    div.changeset .cs-meta .change-number {
      font-size: 100%;
      display: block;
      text-align: center; }
      /* line 476, ../../app/stylesheets/warehouse.sass */
      div.changeset .cs-meta .change-number a {
        color: #481;
        text-shadow: 1px 1px #f7f7f7;
        float: none;
        padding-right: 0;
        margin-top: 3px; }
  /* line 482, ../../app/stylesheets/warehouse.sass */
  div.changeset .timenauthor {
    color: #888;
    font-weight: normal;
    display: block; }

/* line 486, ../../app/stylesheets/warehouse.sass */
#last-log {
  position: relative; }

/* line 488, ../../app/stylesheets/warehouse.sass */
.changed {
  background-color: #7b0;
  color: #fff; }

/* LIST */
/* line 492, ../../app/stylesheets/warehouse.sass */
.changeset, .repo, .form, .permission, .listbox li.listitem {
  padding: 10px;
  padding-left: 50px;
  background: #e2e2e2 url(../images/app/icons/terminal.png) 5px 3px no-repeat;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  border-right-color: #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 110%;
  font-weight: bold; }

/* AVATAR */
/* line 504, ../../app/stylesheets/warehouse.sass */
.avatar {
  padding: 2px;
  background: #fff;
  border: 1px solid #aaa;
  border-bottom: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 32px;
  height: 32px; }

/* PAGINATION */
/* line 513, ../../app/stylesheets/warehouse.sass */
.pagination {
  padding: 3px;
  margin: 10px auto; }
  /* line 516, ../../app/stylesheets/warehouse.sass */
  .pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #ccc;
    background: #f7f7f7;
    color: #555; }
    /* line 522, ../../app/stylesheets/warehouse.sass */
    .pagination a:hover, .pagination a:active {
      border: 1px solid #aaa;
      color: #111; }
  /* line 525, ../../app/stylesheets/warehouse.sass */
  .pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #FFAB92;
    font-weight: bold;
    background-color: #FFE1D8;
    color: #d30; }
  /* line 532, ../../app/stylesheets/warehouse.sass */
  .pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #eee;
    color: #aaa; }

/* DIFF */
/* line 538, ../../app/stylesheets/warehouse.sass */
ul.changeset-nav {
  list-style: none;
  position: absolute;
  top: 3px;
  width: 32px;
  right: 8px;
  height: 16px; }
  /* line 546, ../../app/stylesheets/warehouse.sass */
  ul.changeset-nav li.next a, ul.changeset-nav li.prev a {
    position: absolute;
    display: block;
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    left: 20px;
    top: 0;
    background: url(../images/app/icons/forward.png) no-repeat; }
  /* line 555, ../../app/stylesheets/warehouse.sass */
  ul.changeset-nav li.prev a {
    left: 0;
    top: 0;
    background: url(../images/app/icons/back.png) no-repeat; }

/* line 560, ../../app/stylesheets/warehouse.sass */
a.forward, a.back {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url(../images/app/icons/forward.png) no-repeat; }
  /* line 567, ../../app/stylesheets/warehouse.sass */
  a.forward.back, a.back.back {
    left: 0;
    top: 0;
    background: url(../images/app/icons/back.png) no-repeat; }
  /* line 571, ../../app/stylesheets/warehouse.sass */
  a.forward.forward, a.back.forward {
    left: 16px;
    top: 0; }

/* line 574, ../../app/stylesheets/warehouse.sass */
div.diff-table {
  margin-bottom: 20px;
  clear: right;
  overflow: auto;
  padding: 1px; }

/* line 581, ../../app/stylesheets/warehouse.sass */
.diff {
  font-family: Courier, Monaco, monospace !important;
  overflow: auto;
  width: 100%; }
  /* line 586, ../../app/stylesheets/warehouse.sass */
  .diff td {
    background: #eee; }
    /* line 589, ../../app/stylesheets/warehouse.sass */
    .diff td pre {
      padding: 0;
      margin: 0; }
  /* line 593, ../../app/stylesheets/warehouse.sass */
  .diff th.csnum {
    white-space: no-wrap;
    width: 1px;
    text-align: center; }

/* line 599, ../../app/stylesheets/warehouse.sass */
.ln {
  white-space: no-wrap;
  width: 1px;
  text-align: center;
  background: #e2e2e2 !important;
  font-size: 92%;
  border-right: 1px solid #ccc;
  font-family: "Helvetica", Arial, sans-serif;
  border-bottom: 1px dotted #ccc; }

/* line 611, ../../app/stylesheets/warehouse.sass */
.diff tr.controls td {
  padding: 5px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif; }
/* line 615, ../../app/stylesheets/warehouse.sass */
.diff tbody td {
  background: #f1f1f1; }
/* line 619, ../../app/stylesheets/warehouse.sass */
.diff td.insert {
  background: #dfd;
  color: #030;
  border-right: 1px solid #4C4;
  border-left: 1px solid #4C4 !important; }
/* line 625, ../../app/stylesheets/warehouse.sass */
.diff td.delete {
  background: #fdd;
  color: #900;
  border-right: 1px solid #d99; }

/* line 629, ../../app/stylesheets/warehouse.sass */
#change-list {
  list-style: none;
  margin-bottom: 20px;
  padding: 0; }
  /* line 634, ../../app/stylesheets/warehouse.sass */
  #change-list li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    position: relative; }

/* line 640, ../../app/stylesheets/warehouse.sass */
.viewdiff {
  display: block;
  position: absolute;
  right: 0;
  top: 5px;
  text-indent: -9999px;
  width: 14px;
  height: 14px;
  background: url(../images/app/icons/view-tiny.png) 0 50% no-repeat; }

/* line 651, ../../app/stylesheets/warehouse.sass */
#change-list .shade {
  background: #eee; }

/* line 655, ../../app/stylesheets/warehouse.sass */
span.a, .m, .d, .mv, .cp {
  background: #7b0;
  color: #fff;
  font-size: 82%;
  border: 1px solid #fff;
  line-height: 100%;
  padding: 2px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  /* line 664, ../../app/stylesheets/warehouse.sass */
  span.a a, .m a, .d a, .mv a, .cp a {
    text-decoration: none;
    color: #fff; }

/* line 669, ../../app/stylesheets/warehouse.sass */
span.m {
  background-color: #06b; }
/* line 672, ../../app/stylesheets/warehouse.sass */
span.mv {
  color: #540;
  background: #ca0; }
/* line 676, ../../app/stylesheets/warehouse.sass */
span.d {
  background: #c00; }
/* line 679, ../../app/stylesheets/warehouse.sass */
span.cp {
  background: #ccc;
  color: #333; }

/* line 683, ../../app/stylesheets/warehouse.sass */
.linenos {
  vertical-align: sub;
  padding-right: 10px; }

/* BLAME */
/* line 687, ../../app/stylesheets/warehouse.sass */
.blame-div, .source-div {
  width: 100%; }
  /* line 689, ../../app/stylesheets/warehouse.sass */
  .blame-div #source, .source-div #source {
    overflow: auto;
    font-family: Courier, Monaco, monospace !important; }
    /* line 692, ../../app/stylesheets/warehouse.sass */
    .blame-div #source pre.viewsource, .source-div #source pre.viewsource {
      margin-bottom: 0; }
      /* line 694, ../../app/stylesheets/warehouse.sass */
      .blame-div #source pre.viewsource table, .source-div #source pre.viewsource table {
        color: #fff;
        background-color: #111;
        border-collapse: collapse; }
        /* line 698, ../../app/stylesheets/warehouse.sass */
        .blame-div #source pre.viewsource table tr.start-line, .source-div #source pre.viewsource table tr.start-line {
          border-top: 1px solid #555; }
        /* line 700, ../../app/stylesheets/warehouse.sass */
        .blame-div #source pre.viewsource table td, .source-div #source pre.viewsource table td {
          margin: 0;
          padding: 0 5px; }
          /* line 703, ../../app/stylesheets/warehouse.sass */
          .blame-div #source pre.viewsource table td.linenos, .blame-div #source pre.viewsource table td.lineno, .source-div #source pre.viewsource table td.linenos, .source-div #source pre.viewsource table td.lineno {
            vertical-align: sub;
            color: #333;
            text-align: right;
            border-left: 1px solid #555;
            border-right: 1px solid #555; }
          /* line 709, ../../app/stylesheets/warehouse.sass */
          .blame-div #source pre.viewsource table td pre, .source-div #source pre.viewsource table td pre {
            margin: 0;
            padding: 0; }

/* SIDEBAR */
/* line 713, ../../app/stylesheets/warehouse.sass */
#subscribe {
  margin: 10px 0; }
  /* line 715, ../../app/stylesheets/warehouse.sass */
  #subscribe #subscribe-btn {
    display: block;
    text-indent: -9999px;
    background: url(../images/app/subscribe-btn.png) no-repeat;
    padding: 7px 0; }

/* line 720, ../../app/stylesheets/warehouse.sass */
#members {
  list-style: none; }
  /* line 723, ../../app/stylesheets/warehouse.sass */
  #members li {
    min-height: 38px;
    padding: 5px 0;
    border-bottom: 1px solid #ccc; }
  /* line 728, ../../app/stylesheets/warehouse.sass */
  #members .avatar {
    float: left;
    margin-right: 5px; }
  /* line 732, ../../app/stylesheets/warehouse.sass */
  #members .author {
    font-weight: bold;
    display: block;
    font-size: 110%; }
  /* line 737, ../../app/stylesheets/warehouse.sass */
  #members .activity {
    color: #777;
    font-size: 92%; }

/* line 740, ../../app/stylesheets/warehouse.sass */
.sideblock {
  margin: 20px 0; }
  /* line 743, ../../app/stylesheets/warehouse.sass */
  .sideblock p {
    padding: 5px; }
  /* line 746, ../../app/stylesheets/warehouse.sass */
  .sideblock h3 {
    background: #fff;
    padding: 5px;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc; }
  /* line 753, ../../app/stylesheets/warehouse.sass */
  .sideblock ul {
    list-style: none;
    padding: 5px;
    font-size: 92%; }

/* line 759, ../../app/stylesheets/warehouse.sass */
#repo-search #repo-search-form input.search {
  width: 100%; }

/* line 761, ../../app/stylesheets/warehouse.sass */
#browser-search {
  margin: 5px;
  padding: 5px; }
  /* line 765, ../../app/stylesheets/warehouse.sass */
  #browser-search #repo-search-form input.search {
    width: 30%; }

/* line 767, ../../app/stylesheets/warehouse.sass */
.subnav-bar.single {
  padding: 0px;
  border: 1px solid #ccc;
  border-top: 1px solid #f7f7f7;
  background: #eee url(../images/app/controls-bg.png) bottom left repeat-x;
  vertical-align: middle;
  height: 35px; }

/* line 774, ../../app/stylesheets/warehouse.sass */
.subnav-bar>ul {
  position: relative;
  margin: 4px 0 0 -6px;
  padding-left: 20px; }

/* line 778, ../../app/stylesheets/warehouse.sass */
.subnav-bar>ul>li {
  position: relative;
  list-style-type: none;
  float: left;
  margin-right: 10px; }

/* line 783, ../../app/stylesheets/warehouse.sass */
.subnav-bar>ul>li>a, .subnav-bar>ul>li>span.text {
  position: relative;
  display: block;
  height: 15px;
  padding: 3px 5px 5px 5px;
  font-size: 11px;
  text-decoration: none;
  color: #666;
  border: 1px solid transparent;
  z-index: 5; }
  /* line 793, ../../app/stylesheets/warehouse.sass */
  .subnav-bar>ul>li>a.dropdown, .subnav-bar>ul>li>span.text.dropdown {
    padding-right: 15px;
    background-image: url(http://assets.github.com/images/modules/pagehead/subnav_dropdown_arrow.png);
    background-position: 100% -20px;
    background-repeat: no-repeat; }
  /* line 798, ../../app/stylesheets/warehouse.sass */
  .subnav-bar>ul>li>a.selected, .subnav-bar>ul>li>span.text.selected {
    color: #333;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
    background: #ddd;
    border-color: #c5c5c5;
    border-right-color: #eee;
    border-bottom-color: #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }

/* line 809, ../../app/stylesheets/warehouse.sass */
.subnav-bar>ul>li:hover>a {
  color: #333;
  background-color: #f8f8f8;
  border-color: #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }
  /* line 815, ../../app/stylesheets/warehouse.sass */
  .subnav-bar>ul>li:hover>a.selected {
    border-color: #c5c5c5;
    border-right-color: #eee;
    border-bottom-color: #eee;
    background: #ddd;
    cursor: default; }
  /* line 821, ../../app/stylesheets/warehouse.sass */
  .subnav-bar>ul>li:hover>a.dropdown {
    background-position: 100% 0;
    border-color: #ccc;
    border-bottom-color: #e2e2e2;
    -webkit-border-radius: 0;
    -moz-border-radius: 0; }

/* line 827, ../../app/stylesheets/warehouse.sass */
.subnav-bar>ul>li>a.defunct {
  color: #999;
  background: transparent;
  border-color: transparent!important;
  cursor: default; }

/* line 832, ../../app/stylesheets/warehouse.sass */
.subnav-bar>ul>li>ul {
  display: none;
  position: absolute;
  top: 22px;
  max-height: 275px;
  background: #f8f8f8;
  border: 1px solid #ccc;
  overflow: auto;
  z-index: 4;
  -webkit-padding-start: 0; }

/* line 842, ../../app/stylesheets/warehouse.sass */
.subnav-bar>ul>li:hover>ul {
  display: block;
  margin: 0;
  min-width: 180px; }

/* line 846, ../../app/stylesheets/warehouse.sass */
.subnav-bar>ul>li>ul>li {
  list-style-type: none;
  margin: 0;
  border-top: 1px solid #e2e2e2;
  font-size: 11px; }
  /* line 851, ../../app/stylesheets/warehouse.sass */
  .subnav-bar>ul>li>ul>li:first-child {
    border-top: none; }

/* line 853, ../../app/stylesheets/warehouse.sass */
.subnav-bar>ul>li>ul>li>a, .subnav-bar>ul>li>ul>li>strong {
  padding: 4px 5px;
  display: block;
  font-weight: bold; }

/* line 857, ../../app/stylesheets/warehouse.sass */
.subnav-bar>ul>li>ul>li>a:hover {
  text-decoration: none;
  background-color: #eee; }

/* line 860, ../../app/stylesheets/warehouse.sass */
span.code-text {
  font-family: monospace; }

/* line 863, ../../app/stylesheets/warehouse.sass */
.va-reset img {
  vertical-align: middle; }

/* REPO ADD */
/* line 866, ../../app/stylesheets/warehouse.sass */
.repo-add {
  padding: 5px;
  background: #e2e2e2;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  border-right-color: #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 110%;
  font-weight: bold; }
  /* line 876, ../../app/stylesheets/warehouse.sass */
  .repo-add:hover {
    background: rgb(247,247,247); }

/* line 878, ../../app/stylesheets/warehouse.sass */
#service-hooks {
  display: table;
  width: 100%; }
  /* line 881, ../../app/stylesheets/warehouse.sass */
  #service-hooks div.service-list-div, #service-hooks div.service-hook-div {
    display: table-cell; }
  /* line 883, ../../app/stylesheets/warehouse.sass */
  #service-hooks div.service-list-div {
    width: 22%;
    margin-right: 15px; }
  /* line 886, ../../app/stylesheets/warehouse.sass */
  #service-hooks div.service-hook-div {
    width: 75%; }
  /* line 888, ../../app/stylesheets/warehouse.sass */
  #service-hooks .service-list {
    margin: 1.5em 1.5em 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background: #f1f1f1; }
    /* line 893, ../../app/stylesheets/warehouse.sass */
    #service-hooks .service-list .service_active a {
      color: #3a3;
      font-weight: bold; }
    /* line 896, ../../app/stylesheets/warehouse.sass */
    #service-hooks .service-list .service_inactive a {
      color: #a33; }
    /* line 898, ../../app/stylesheets/warehouse.sass */
    #service-hooks .service-list ul {
      list-style-type: none;
      -webkit-padding-start: 0; }
  /* line 901, ../../app/stylesheets/warehouse.sass */
  #service-hooks .service-list legend, #service-hooks .service-hook legend {
    font-size: 1.2em;
    font-weight: bold; }
  /* line 904, ../../app/stylesheets/warehouse.sass */
  #service-hooks .service-hook {
    margin: 1.5em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background: #f1f1f1; }
    /* line 910, ../../app/stylesheets/warehouse.sass */
    #service-hooks .service-hook label {
      float: left;
      width: 7em; }
    /* line 913, ../../app/stylesheets/warehouse.sass */
    #service-hooks .service-hook p {
      margin-top: .5em; }
    /* line 915, ../../app/stylesheets/warehouse.sass */
    #service-hooks .service-hook input.text, #service-hooks .service-hook input.password {
      border: 1px solid #888;
      width: 31em; }
    /* line 918, ../../app/stylesheets/warehouse.sass */
    #service-hooks .service-hook .help_box {
      margin-top: .5em;
      border: 1px solid #eee;
      padding: .8em;
      background: #fff; }
      /* line 923, ../../app/stylesheets/warehouse.sass */
      #service-hooks .service-hook .help_box pre {
        font-size: 80%; }
